#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Simple Terminal
TryExec=st
Exec=st
Icon=xterm-color
Type=Application
Categories=Utility;TerminalEmulator;
StartupNotify=true
Keywords=Run;
Actions=New

[Desktop Action New]
Name=New terminal
Exec=st -e bash -l
OnlyShowIn=Unity
